body{
    margin : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 20%);
}

table{
    background-color: black;
    color: white;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid white;
    border-radius: 10px;
}

th, td {
  border-bottom: 2px solid #ddd; /* Adds border only at the bottom */
  border-left: 2px solid #ffff;
  padding: 1px;

}

#tHeader-font-size{
    font-size: 1rem;
    text-align: center;
    padding : 0;
}
